{{ define "title" }} ShreeNathJi Haweli - Home {{ end }} {{ define "content" }}
<div class="container">
  <div class="mx-auto" style="justify-content: center;">
  <h3>🙏🏻 मदनमोहन लालजी हवेली 🙏🏻</h3>
    <!-- <strong>Message:</strong>
    {{.message}} -->
  </div>
  
  <!-- Carousel Images -->
  <!-- <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="10000"
  >
    <div class="carousel-inner d-flex justify-content-center">
      {{ range $i, $src := .carouselImages }}
      <div
        class="mx-auto carousel-item {{ if eq $i 0 }}active {{ end }}"
        style="max-width: 400px;"
      >
        <img src="{{$src}}" class="d-block" alt="..." />
      </div>
      {{ end }}
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
      data-bs-interval="10000"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
  <!-- CAROUSEL NOTIFICATIONS FROM DATASET -->

<!-- Carousel Images -->
  <div id="shreenathJiImage" class="d-flex img-container">
    {{range $ImgSrc := .carouselImages}}
    <img
      src="{{$ImgSrc}}"
      alt="Haweli Image"
      class="img-fluid img-container"
      style="cursor: zoom-in; width: 100%; max-width: 400px"
    />
    {{end}}
  </div>
<!-- Carousel Images -->


  <div class="card text-center ">
    <div class="card-header">Featured</div>
    {{range $notification := .notifications}}
    <div class="card-body table-hover">
      <h5 class="card-footer card-title">{{$notification.title}}</h5>
      <p class="text-muted">Updated - {{$notification.timestamp}}</p>
      <p class="card-text">{{$notification.content}}</p>
    </div>
    {{end}}
  </div>
  <!-- CAROUSEL NOTIFICATIONS FROM DATASET -->

  <!-- <div id="shreenathJiImage">
    <img
      src="{{.ImgSrc}}"
      alt="Haweli Image"
      class="img-fluid"
      style="cursor: zoom-in; width: 100%; max-width: 800px"
    />
  </div> -->
  <div class="mt-4">
    <small class="text-muted">Last updated: {{.timestamp}}</small>
  </div>
</div>
{{ end }} {{ define "index" }} {{ template "base" . }} {{ end }}
