{{ define "title" }} ShreeNathJi Haweli - About Us {{ end }} {{ define "content"
}}
<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="lead">मारी हवेली </h2>
      <div>
        <p>
          ShreeNathJi Haweli, located in Ahilyanagr, Maharashtra, is a revered
          place of worship dedicated to Lord ShreeNathJi. Established with the
          aim of promoting spiritual growth and community service, the Haweli
          serves as a hub for devotees to gather, pray, and participate in
          various religious and cultural activities. The architecture of the
          Haweli reflects traditional Indian design, featuring intricate
          carvings and vibrant colors that create a serene and sacred
          atmosphere. The Haweli also hosts regular events, including devotional
          singing, festivals, and charitable initiatives aimed at supporting the
          local community. Visitors to ShreeNathJi Haweli can expect a warm
          welcome and an enriching spiritual experience.
        </p>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 text-center">
            <h1 id="class-test" class="display-4">Haveli Directors</h1>
            <div>
              <div class="table-responsive">
                <table class="table table-success table-striped table-hover">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">Sr. No.</th>
                      <th scope="col">Name</th>
                      <th scope="col">Role</th>
                      <th scope="col">Phone</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{range $director := .directorsData}}
                    <tr>
                      <td>{{$director.srNo}}</td>
                      <td>{{$director.name}}</td>
                      <td>{{$director.Role}}</td>
                      <td>{{$director.Phone}}</td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="mt-4">
              <small class="text-muted">Last updated: {{.timestamp}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="mx-auto" style="text-align: center">Mari Haweli Location:</p>
  <div
    class="mx-auto"
    style="
      width: fit-content;
      height: fit-content;
      border: 5px solid #000;
      padding: 5px;
    "
  >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d303.93571753283476!2d74.74006957738447!3d19.09477913270961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdcb06696466209%3A0x887ef531270f31bb!2sAsian%20Paints%20Colourideas%20-%20Abedin%20%26%20Sons%20Paint!5e1!3m2!1sen!2sin!4v1770302965582!5m2!1sen!2sin"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>

{{end}} {{ define "aboutUs" }} {{ template "base" . }} {{ end }}
